<!DOCTYPE html>
<html ng-app="testApp">
  <head>
    <title>Test</title>
  </head>

  <body ng-controller="MainCtrl">
    <input type="text" ng-model="userName" tw-name-input="user">

    <p ng-bind-template="userName: {{userName}}"></p>
    <p ng-bind-template="user: {{user | json}}"></p>

    <hr>

    <form name="user2Form">
      <input type="text" ng-model="user2Name" tw-name-input="user2" middle-required>

      <input type="submit" value="Submit" ng-disabled="user2Form.$invalid">
      <p>
        user2: {{user2 | json}}
      </p>
    </form>

    <hr>

    <form name="userForm">
      <input type="text" ng-model="user3Name" tw-name-input="user3" first-required="firstRequired" middle-required="middleRequired" last-required="lastRequired">

      <label>First <input type="checkbox" ng-model="firstRequired"></label>
      <label>Middle <input type="checkbox" ng-model="middleRequired"></label>
      <label>Last <input type="checkbox" ng-model="lastRequired"></label>

      <input type="submit" value="Submit" ng-disabled="userForm.$invalid">
    </form>

    <hr>

    <input type="text" ng-model="user4Name" tw-name-input="user4">
    <select ng-model="user4" ng-options="model.model as model.name for model in models">
    </select>

    <p>User4: {{user4 | json}}</p>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../angular-name-input.js"></script>

    <script>
      var app = angular.module('testApp', ['tw-name-input']);

      app.controller('MainCtrl', function($scope) {
        $scope.user = {
          id: 1,
          age: 15,
          firstName: 'Tim',
          lastName: 'Whitbeck'
        };

        $scope.lastRequired = true;
        $scope.firstRequired = true;
        $scope.middleRequired = false;

        $scope.test = function(user) {
          console.log('first: ' + user.firstName + ', middle: ' + user.middleName + ', last: ' + user.lastName);
        };

        $scope.models = [
          {
          name: 'Nameless',
          model: {
            id: 5,
            age: 23
          }
        },
        {
          name: 'Bob',
          model: {
            id: 7,
            age: 44,
            firstName: 'Bob',
            middleName: 'Andrew',
            lastName: 'McGee'
          }
        }
        ];
      });
    </script>
  </body>
</html>
